@charset "UTF-8";

@media screen and (max-width: 425px){
  .background{
    background-size: cover !important;
    background-position: bottom right !important;
  }
}

.title{
  color: #fff;
}
.background{
  background: url("/img/fundo2.png") fixed no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar-track {
    background-color: #dad7d7;
}
body::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
    background: chartreuse;
}
.poscentralized{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
td,th {
    width: 130px;
}
.boxconteudo{
/*    Adicionar media depués  */
    height: 130px;
    float: left;
    width: 130px;
    
}
.major{font-size: 3em;}

/*New test*/

.TableColumns{
display: -webkit-flex;
  display: inline-grid;
  float: left;

}

.bordered{
  border-bottom-width: 2px;
  border-color:#999; 
  border-bottom-style:solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ButtonNew{
  cursor: pointer;
  border-radius: 100%;
  padding: 30px;
  background-color: red;
  color: white;
  position: relative;
  width: 20px;
  height: 20px;

  top:75%;
  left: 80%;

  -webkit-box-shadow: inset 0px 0px 31px -6px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 31px -6px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 31px -6px rgba(0,0,0,0.75);
}
.forma{
    min-width: 50px;
}
.notelabel{
    position: absolute;
    margin-left: 100px;
    font-size: 10pt;
}

/* Modo Contraste */
.dark-mode{
    background-color: #34b9f5 !important;
}
.white{
    color: #eee !important;
}
.toggle-black-mode{
    cursor: pointer;
}
